server:
  port: 8080
  servlet:
    encoding:
      charset: UTF-8
      enabled: true
      force: true

spring:
  datasource:
    url: ${DBMS_CONNECTION}
    username: ${DBMS_USERNAME}
    password: ${DBMS_PASSWORD}
    driver-class-name: org.postgresql.Driver

  jpa:
    hibernate:
      ddl-auto: update
    show-sql: false
    properties:
      hibernate:
        format_sql: true
    database-platform: org.hibernate.dialect.PostgreSQLDialect

auth:
  signer-key: ${SIGNER_KEY}
  valid-duration: 29
  refreshable-duration: 30

app:
  admin:
    email: ${ADMIN_EMAIL}
    password: ${ADMIN_PASSWORD}
  crawl:
    url-diem-chuan: "https://diemthi.tuyensinh247.com/diem-chuan.html"
    url-nganh-dao-tao: "https://diemthi.tuyensinh247.com/nganh-dao-tao.html"

external:
  api:
    identity:
      url: ${GOOGLE_TOKEN_URI}
      user-url: ${GOOGLE_USER_URL}
      client-id: ${GOOGLE_CLIENT_ID}
      client-secret: ${GOOGLE_CLIENT_SECRET}
      redirect-uri: ${GOOGLE_REDIRECT_URI}